# .pylintrc
# See https://github.com/pylint-dev/pylint/blob/main/examples/pylintrc

[TYPECHECK]
#
# Click mutates function signatures:
#   see https://click.palletsprojects.com/en/8.1.x/
#
signature-mutators=click.decorators.option
