---
#
#
#
# $ docker-compose up -d virtuoso
#
services:
  dev: &base
    build: .
    environment:
      - PYTHONPATH=:/code
    depends_on:
      - qdrant
      - virtuoso
    working_dir: /code
    volumes:
      - .:/code
    entrypoint: [sleep, infinity]
  test:
    <<: *base
    user: root
    entrypoint: [tox]
  model:
    <<: *base
    entrypoint: [tox, -e, model]
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
  cors:
    image: nginx
    depends_on:
      - virtuoso
    volumes:
      - ./sparql/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8890:80/tcp"
  virtuoso:
    # user: "1000:1000"
    # user: root
    image: docker.io/openlink/virtuoso-opensource-7:7.2.12-alpine
    ports:
      - "18890:8890/tcp"
    environment:
      - VIRTUOSO_INI_FILE=/virtuoso.ini
      - DBA_PASSWORD=dba
    volumes:
      - .:/code
      - ./data:/database
      - ./vocabularies:/initdb.d/
      - ./sparql/virtuoso.ini:/virtuoso.ini
